Package: [[name]]
Version: [[version]]
Section: extra
Priority: optional
Architecture: all
Description: [[description]]
Maintainer: Maxim Nazarov <maxim.nazarov@openanalytics.eu>
Homepage: http://www.shinyproxy.io/
Depends: java8-runtime | default-jre-headless (>= 1.8.0), docker-engine | docker-ce | docker-ee