<!DOCTYPE html>
<html 
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head></head>
<body>

	<div th:fragment="navbar" th:if="${showNavbar}">
		<div class="StreamsHero-image">
		  <div class="StreamsHero-content">
			<div class="StreamsHero-buttonContainer">
                  <img src="https://www.golomtbank.com/static/websites/golomtbank/default/mn/assets/logo1.png" class = "js-nav" aria-hidden="true"></img>
				  <a class="Button StreamsSignUp js-signup" style="text-decoration: none" th:href="@{/}">Home</a>
				  <a class="Button StreamsSignUp js-signup" style="text-decoration: none" th:href="@{/admin}" data-component="hero" data-element="buttons">Admin</a>
				  <a class="Button StreamsSignUp js-signup" style="text-decoration: none" th:href="@{/shinyapp}" data-component="hero" data-element="buttons">Apps</a>
				  <a class="Button StreamsSignUp js-signup" style="text-decoration: none" th:href="@{/shinyapp/listuser}" data-component="hero" data-element="buttons">Users</a>
				  <a class="Button StreamsSignUp js-signup" style="text-decoration: none" th:href="@{/shinyapp/listgroup}" data-component="hero" data-element="buttons">Groups</a>
				  <a class="Button StreamsLogin js-login" style="text-decoration: none" th:href="@{/logout}" th:if="${isLoggedIn}">Sign Out</a>
			</div>
		  </div>
		</div>
	</div>	
</body>
</html>