<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head lang="en">
	<title>Error</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<link rel="stylesheet" media="screen" th:href="@{/webjars/bootstrap/3.3.6/css/bootstrap.min.css}"/>
	<link rel="stylesheet" media="screen" th:href="@{/css/default.css}"/>
	<script th:src="@{/webjars/jquery/2.2.2/jquery.min.js}"></script>
	<script th:src="@{/webjars/bootstrap/3.3.6/js/bootstrap.min.js}"></script>
</head>
<body>
	<!-- navigation bar -->
	<div th:replace="../fragments/navbar :: navbar"></div>
	
	<!-- content -->
	<div style="margin-top: 15px; margin-left: 15px;">
		<h1>Error</h1>
		<p>
			<b>Status code:</b> <span th:text="${status}"></span>
		</p>
		<p>
			<b>Message:</b> <span th:text="${message}"></span>
		</p>
		<p>
			<b>Stack Trace:</b> <br/><span th:utext="${stackTrace}"></span>
		</p>
	</div>
</body>
</html>