<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head lang="en">
	<title th:text="${title}"></title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<link
		href="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.6/css/bootstrap.min.css"
		th:href="@{/webjars/bootstrap/3.3.6/css/bootstrap.min.css}"
		rel="stylesheet" media="screen" />
	<script src="http://cdn.jsdelivr.net/webjars/jquery/2.2.2/jquery.min.js"
		th:src="@{/webjars/jquery/2.2.2/jquery.min.js}"></script>
</head>
<body>
	<!-- navigation bar -->
	<div th:replace="../fragments/navbar :: navbar"></div>
	
	<!-- content -->
    <div id="applist" style="margin-top: 60px; border: 0px;">
    	<ul>
    		<li th:each="app: ${apps}">
    			<a th:href="@{/app/}+${app.name}" th:text="${app.displayName == null} ? ${app.name} : ${app.displayName}"></a>
    			<br th:if="${app.description != null}" />
    			<span th:if="${app.description != null}" th:text="${app.description}"></span>
    		</li>
    	</ul>
    </div>
</body>
</html>