[Unit]
Description=ShinyProxy
After=docker.service

[Service]
WorkingDirectory=/etc/shinyproxy
ExecStart=/usr/bin/java -jar /opt/shinyproxy/shinyproxy-0.9.2.jar

[Install]
WantedBy=multi-user.target
